on:
  workflow_call:
    inputs:
      working-directory:
        description: "The working directory"
        default: "./"
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          working-directory: ${{ inputs.working-directory }}
      - run: bundle exec rake
